Django==5.2
durationpy==0.10
facebook_business==22.0.5
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.173.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gunicorn==23.0.0
pathao-courier-api==1.0.0
pillow==11.2.1
PyMySQL==1.1.1
